.container {
  pointer-events: none;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transform: rotate(20deg) scale(2);
}
.container .blade {
  height: 0;
  width: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  border: solid 150vh #333;
  border-top: 87vh solid transparent;
  border-bottom: 87vh solid transparent;
  border-left-color: transparent;
  transition: transform 2s linear;
}

.first {
  animation: blade1 0.4s alternate 2;
}
.second {
  animation: blade2 0.4s alternate 2;
}
.third {
  animation: blade3 0.4s alternate 2;
}
.fourth {
  animation: blade4 0.4s alternate 2;
}
.fifth {
  animation: blade5 0.4s alternate 2;
}
.sixth {
  animation: blade6 0.4s alternate 2;
}

@keyframes blade1 {
  from {
    transform: translate(-50%, -50%) rotate(0deg) translate(-25%, 0)
      translate(25%, -50%);
  }

  to {
    transform: translate(-50%, -50%) rotate(0deg) translate(-25%, 0)
      translate(calc(25% + 1px), -1vh);
  }
}

@keyframes blade2 {
  from {
    transform: translate(-50%, -50%) rotate(60deg) translate(-25%, 0)
      translate(25%, -50%);
  }

  to {
    transform: translate(-50%, -50%) rotate(60deg) translate(-25%, 0)
      translate(calc(25% + 1px), -1vh);
  }
}

@keyframes blade3 {
  from {
    transform: translate(-50%, -50%) rotate(120deg) translate(-25%, 0)
      translate(25%, -50%);
  }

  to {
    transform: translate(-50%, -50%) rotate(120deg) translate(-25%, 0)
      translate(calc(25% + 1px), -1vh);
  }
}

@keyframes blade4 {
  from {
    transform: translate(-50%, -50%) rotate(180deg) translate(-25%, 0)
      translate(25%, -50%);
  }

  to {
    transform: translate(-50%, -50%) rotate(180deg) translate(-25%, 0)
      translate(calc(25% + 1px), -1vh);
  }
}

@keyframes blade5 {
  from {
    transform: translate(-50%, -50%) rotate(240deg) translate(-25%, 0)
      translate(25%, -50%);
  }

  to {
    transform: translate(-50%, -50%) rotate(240deg) translate(-25%, 0)
      translate(calc(25% + 1px), -1vh);
  }
}

@keyframes blade6 {
  from {
    transform: translate(-50%, -50%) rotate(300deg) translate(-25%, 0)
      translate(25%, -50%);
  }

  to {
    transform: translate(-50%, -50%) rotate(300deg) translate(-25%, 0)
      translate(calc(25% + 1px), -1vh);
  }
}
